<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>loginpage</title>
    <link rel="stylesheet" href="loginpage.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    
    <div class="wrapper">
      <form action="">
        <h1>Log In</h1>
        <div class="input-box">
          <input type="text" placeholder="Username" required />
          <i class="bx bx-user"></i>
        </div>
        <div class="input-box">
          <input type="password" placeholder="Password" required />
          <i class="bx bx-lock"></i>
        </div>
        <div class="remember-forgot">
          <label><input type="checkbox" />Remember Me</label>
          <a href="#">Forgot password</a>
        </div>
        <button type="button" class="logbutton" onclick="window.location.href='userdashboard.html'">Login</button>
        <button type="button" class="logwithhotelbutton" onclick="window.location.href='userdashboardhotel.html'">Login For Hotels</button>
        <div class="register-link">
          <p>Don't have an account? <a href="registerpage.html">Register</a></p>
        </div>
      </form>
    </div>
    <footer>
      <h3>
        &copy;All Right Reserved
      </h3>
    </footer>
  </body>
</html>
