
.loginpage {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("../assets/logpagepic.jpg") no-repeat center center/cover;
    flex-direction: column;
}

.wrapper {
    width: 390px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    color: white;
    border-radius: 12px;
    padding: 30px 40px;
    text-align: center;
}

.wrapper h1 {
    font-size: 32px;
    text-align: center;
}


.input-box {
    position: relative;
    width: 100%;
    margin: 20px 0;
    display: flex;
    align-items: center;
}

.input-box input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: white;
    padding: 15px 45px 15px 20px;
}


.input-box input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}


.input-box i {
    position: absolute;
    right: 15px;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.7);
}

.remember-forgot {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    margin-top: -10px;
}

.remember-forgot label {
    display: flex;
    align-items: center;
}

.remember-forgot input {
    margin-right: 5px;
}

.logbutton,.logwithhotelbutton {
    width: 100%;
    height: 40px;
    background: white;
    border: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    color: #333;
    margin-top: 20px;
}

.register-link {
    font-size: 14px;
    margin-top: 20px;
}

.register-link a {
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}

.footer {
    width: 100%;
    text-align: center;
    font-size: 14px;
    padding: 15px 0;
    background: rgba(0, 0, 0, 0.9);
    color: white;
    position: fixed;
    bottom: 0;
}
.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.2s ease;
    border: none;
  }
  
  .back-button:hover {
    background-color: gray;
    transform: scale(1.1);
  }
  
  .back-button i {
    color: white;
    font-size: 20px;
  }
  
  
